<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="course.android.com.npuapplication">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
      
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDufrIhHMjvNX3A3V7jz6XDH_3P_FNk-jw" />

        <activity android:name=".HomePageActivity">
        </activity>
        <activity android:name=".LogInActivity" />
        <activity android:name=".EventActivity" />
        <activity android:name=".CurrentSemsterCourseListActivity" />
        <activity android:name=".CourseDetailsActivity" />
        <activity android:name=".GradesActivity" />
        <activity android:name=".AttendanceActivity">

            </activity>
        <activity android:name=".HandoutActivity" />
        <activity android:name=".SyllabusActivity" />
        <activity android:name=".SocialMediaActivity" />
        <activity android:name=".StartUpActivity">
        </activity>

        <activity android:name=".Home_2Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MapsActivity" />
        <activity android:name=".NearbyEateriesActivity" />
        <activity android:name=".OtherInfoHome" />
        <activity android:name=".BuildingInfoActivity"></activity>
    </application>

</manifest>